# Virtual environments
venv/
env/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Distribution / packaging
build/
dist/
*.egg-info/

# VSCode settings
.vscode/

# Environment variables
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs
*.log

# SQLite database files
*.sqlite3

# Pytest cache
.pytest_cache/

# Coverage reports
htmlcov/
.coverage

# mypy type checking
.mypy_cache/

# IDE files
.idea/
